<%- include("../partials/header") %>
<%- include("../partials/title") %>
All Products 
<%- include("../partials/body") %>
<div class="jumbotron">
    <h1>ALL PRODUCTS PAGE</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur expedita officia maiores fugit fugiat dolores. Minus alias dolores architecto ipsa neque assumenda perferendis repellat commodi?</p>
    <div class="btn btn-lg btn-primary">CLICK ME</div>
</div>
<%- include("../partials/footer") %>